:root {
    --bg-color: #5389A5;
    --header-color: #FFF;
    --header-overlay-color: #223843;
    --text-color: #EFF1F3;
    --button-text-color: #000;
    --button-bg-color: #DBD3D8;
    --button-hover-color: red;
    --button-border-color: #DBD3D8;
    --link-hover-color: #5A5A5A;
    --footer-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(313deg) brightness(109%) contrast(101%);
    --footer-filter-hover: invert(36%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(92%) contrast(85%);
    font-size: 16px;
}

html {
    font-size: 16px;
    background: var(--bg-color);
    color: var(--text-color)
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 22rem auto auto 5rem;
    grid-template-columns: 5% 90% 5%;
    row-gap: 3rem;
}

span {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 3rem;
    color: var(--header-color);
}

.external-link{
    text-decoration: none;
}

.btn,
.external-link {
    padding: 0.6rem;
    border-radius: 0.25rem;
    border: 0.2rem solid var(--button-border-color);
    background: var(--button-bg-color);
    color: var(--button-text-color);
    font-weight: bold;
}

.btn:hover,
.external-link:hover {
    cursor: pointer;
}


/* header -------------------------------------------------------------------- */

header {
    grid-row: 1;
    grid-column: 1 / span 3;
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


header p {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

header .btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
}

header p,
header .btn,
.game-search {
    z-index: 10;
}

.header-overlay {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--header-overlay-color);
    opacity: 0.8;
}

.game-search {
    width: 40%;
    display: flex;
}

.search-bar {
    width: 100%;
    border: 0;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
}

.search-btn {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 0.15rem solid white;
    background: #FFF;
}

.search-btn:hover {
    cursor: pointer;
}

.search-btn img {
    max-height: 1.5rem;
    max-width: 1.5rem
}

.search-btn img:hover {
    filter: invert(36%) sepia(0%) saturate(1591%) hue-rotate(153deg) brightness(92%) contrast(87%);
}

/* Game Content ------------------------------------------------------------------------------------ */

.game-content {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.game-image {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.25rem;
    border: .1rem solid #36596B;
    box-shadow: 0rem 0rem 1rem 0.1rem #36596B;
}

.game-info {
    grid-column-start: 3;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.game-info > * {
    margin-bottom: 1.5rem;
    text-align: center;
}

.game-info img {
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
    position: relative;
    bottom: .1rem;
}

.game-info-details {
    position: relative;
}

.game-info-details li {
    display: inline;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.game-info-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-info-buttons > * {
    margin: 0 0.5rem;
}

/* Similar Games -------------------------------------------------------------------------------------- */

.similar-games-list {
    grid-row: 3;
    grid-column: 2;
    text-align: center;
}

.similar-games-list h2 {
    padding: 2rem;
    border-bottom: 0.2rem solid #FFF;
}

.similar-game {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem 0;
    border-bottom: 0.2rem solid #FFF;
}


.similar-game-image img {
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    border: .1rem solid #36596B;
    box-shadow: 0rem 0rem 1rem 0.1rem #36596B;
}

.similar-game-info {
    grid-column: 1 / span 5;
    display: flex;
    align-items: center;
}

.similar-game-info p {
    text-align: left;
    padding: 1rem;
    width: 100%;
}

/* Footer --------------------------------------------------------------------------------------------- */

footer {
    grid-row: 4;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    display: flex;
    align-items: center;
}

.github-logo {
    height: 2rem;
    width: 2rem;
}

.linkedin-logo {
    height: 2.125rem;
    width: 2.125rem;
}