body {
    min-height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-rows: 6.75rem 100vh 6.75rem;
    grid-template-columns: 5% 90% 5%;
    background: black;
    color: white;
}

/* header -------------------------------------------------------------------- */

header {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 2rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* content -------------------------------------------------------------------- */

main {
    grid-row: 2;
    grid-column: 2;
    display: grid !important;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color:darkcyan;
}

/* Game Search -------------------------------------------------------------------- */

.game-search {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: darkgreen;
}

.game-search-container {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* .validate {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 2;
}

.search-btn {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row: 2;
} */

/* .game-image {
}

.game-info {

} */

/* footer -------------------------------------------------------------------- */

footer {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}
